<div class="text-center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="text-center margin-top-100">
  <button type="button" class="error" (click)="displayToaster('error')">Error</button>
  <button type="button" class="success" (click)="displayToaster('success')">Success</button>
  <button type="button" class="info" (click)="displayToaster('info')">Info</button>
  <button type="button" class="warning" (click)="displayToaster('warning')">Warning</button>
  <button type="button" class="neutral" (click)="displayToaster('neutral')">Neutral</button>
</div>
<app-number></app-number>

